
$Oslo-Saunas---British-Airways-Highlife-Magazine-1-rgba: rgba(54,83,140, 1);
$Oslo-Saunas---British-Airways-Highlife-Magazine-2-rgba: rgba(64,118,165, 1);
$Oslo-Saunas---British-Airways-Highlife-Magazine-3-rgba: rgba(121,189,216, 1);
$Oslo-Saunas---British-Airways-Highlife-Magazine-4-rgba: rgba(51,114,108, 1);
$Oslo-Saunas---British-Airways-Highlife-Magazine-5-rgba: rgba(242,237,213, 1);


$success: #00a900;
$warning: #FFA500;
$danger: #FF0000;
$primary: #0000FF;

$white: #FFFFFF;
$black: #000000;
$gray: #808080;
